.errorAlert {
  margin-top: 34px;
  height: 26px;
  position: relative;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #faded9;
  color: #303240;
}

.errorAlert::before {
  content: "";
  height: 100%;
  width: 4px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e54322;
}

.content {
  display: flex;
  align-items: center;
}

.message {
  margin-left: 8px;
}

.closeIcon {
  cursor: pointer;
}
